<% feeds.each(function (feed) { %>
  <li class="feed<% if(feed.escape("favorited")) { %> favorite<% } %>" data-id="<%= feed.escape('id') %>">
    <a href="#/feeds/<%= feed.escape('id') %>"><%= feed.escape('title') %></a>
  </li>
<% }) %>